.body{
    width: 100%;
    height: 400px;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-classes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.warrior{
    border: solid black;
    padding: 5px;
    margin-bottom: 4px;
}
.mage{
    border: solid black;
    padding: 5px;
    margin-bottom: 4px;
}
.archer{
    border: solid black;
    padding: 5px;
}
.list-stuff{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stuff-warrior{
    display: flex;
    flex-direction: column;
}
.stuff-mage{
    display: flex;
    flex-direction: column;
}
.stuff-archer{
    display: flex;
    flex-direction: column;
}
.item-heros{
    border:solid black;
    margin-bottom: 4px;
    padding: 4px;
}
.pts-heros{
    border: solid black;
    padding: 4px;
}

.name-player{
    display: flex;
    flex-direction: column;
    margin: 4px;
    padding: 10px;
    align-items: center;
    height: 60px;
    justify-content: space-around;
}
input{
    border-radius: 12px;
}
.error-message{
    color: red;
}